
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Make Card links full-area and remove default link styles */
.card-link {
	display: block;
	color: inherit;
	text-decoration: none;
}
.card-link:focus,
.card-link:hover {
	text-decoration: none;
}

